.statement-unlocker-container {
    width: 100%;
    height: calc(100vh - 60px);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.external-app-iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}